* {
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heart-red: red;
    --heart-blue: rgb(255, 94, 239);
    --shadow-color: #ff4757;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background: rgb(17, 19, 34);
}

.text {
    font-family: 'Brush Script MT', cursive;
    font-size: small;
    text-align: center;
    color: white;
  }

section {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 20px red;
    animation: moveUpDown 3s ease-in-out infinite;
    user-select: none;
}
@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
}

.circular-photo {
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    height: 30vh;

}

.circular-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@keyframes animate {
    0%{
        transform: rotate(-45deg) scale(1.07);
    }
    80%{
        transform: rotate(-45deg) scale(1.0);
    }
    100%{
        transform: rotate(-45deg) scale(0.8);
    }
}
.heart {
    position: relative;
    width: 70px;
    height: 70px;
    background: var(--heart-red);
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px var(--heart-red);
    animation: animate .6s linear infinite;
    cursor: pointer;
}
.heart,.heart::after,.heart::before{
    transition: background 0.2s, box-shadow 0.2s;
}
.heart:active,.heart:active::after,.heart:active::before {
    background: var(--heart-blue); /* Color azul */
    box-shadow: -10px 10px 90px var(--heart-blue); /* Sombra azul */
}
.heart::before {
    content: '';
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: var(--heart-red);
    border-radius: 50%;
    box-shadow:-10px -10px 90px var(--heart-red);
}  
.heart::after{
    content: '';
    position: absolute;
    right: -50%;
    width: 70px;
    height: 70px;
    background:var(--heart-red);
    border-radius: 50%;
    box-shadow: -10px 10px 90px var(--heart-red);
}
    